@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Inter", sans-serif;
  }
  
  .custom-font-div {
    font-family: "Tsukimi Rounded", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size:xx-large;
  }