/* Styles for the profile page */
body {
    display: flex;
    align-items: center; /* 垂直方向居中 */
    min-height: 100vh; /* 页面高度 */
}
.profile-page {
    display: flex;
}
h1 {
    font-size: 30px; 
    text-align: center; /* 居中 */
    font-weight: bold; /* 加粗 */
    color: rgb(32, 41, 55);
}
h2 {
    font-size: 18px;
    text-align: left; /* 居中 */
    font-weight: bold; /* 加粗 */
    color: rgb(32, 41, 55);
}

.profile-container {
    width: 700px;
    height: auto; /* 根据需要调整高度 */
    align-items: center;
    background-color: #f0f0f0; /* 浅灰色 */
    margin: 0; /* 外边距清零，由父容器控制 */
    padding: 50px; /* 给容器加点内边距 */
    border-radius: 8px; /* 圆角效果 */

}

.profile-section {
    background: #ffffff;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
}

.profile-section h2 {
    margin-top: 0;
}

.edit-button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.edit-button:hover {
    background: #0069d9;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input:disabled {
    background: #e9ecef;
}
.custom-select {
    width: 100%;
    padding: 8px 12px; /* 内边距与输入框一致 */
    font-size: 16px; /* 字体大小 */
    border: 1px solid #ced4da; /* 边框 */
    border-radius: 4px; /* 圆角 */
    background-color: #fff; /* 背景颜色 */
    appearance: none; /* 移除默认浏览器样式 */
    -webkit-appearance: none;
    -moz-appearance: none;
}

